.f-h1 {
  font-weight: 700;
  font-size: 28px;
}

.f-h2 {
  font-weight: 700;
  font-size: 24px;
}

.f-h3 {
  font-weight: 700;
  font-size: 18px;
}

.text-bold {
  font-weight: bold;
}
.v-middle {
  vertical-align: middle;
}

// margin
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-1 {
  margin-right: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}

.el-col {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1100px) and (max-width: 1440px) {
  .f2c-col-8 {
    display: block;
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

.default-theme {
  img {
    border: none;
  }
  h2 {
    margin-top: 0.8em;
  }
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor {
  cursor: pointer;
}
