@use "fit2cloud-ui-plus/src/styles/index.scss" as *;
// 全局 CSS 变量
@import './variables.scss';
// Element Plus
@import './element-plus.scss';
/* ions */
@import './common.scss';


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--f2c-body-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
    font-size: 14px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

